TV_shows_XSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tv_programms">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="programm" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name_of_translation"/>
              <xs:element name="day_of_translation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="date"/>
                    <xs:element type="xs:string" name="month"/>
                    <xs:element type="xs:float" name="year"/>
                    <xs:element type="xs:string" name="week_day"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="channel"/>
              <xs:element name="genre">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="type" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="start_time"/>
              <xs:element type="xs:string" name="duration"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>